{{- $root := . -}}
<html>
<head>
  <title>Report</title>
</head>
<body>
  <h1>Final Skills For Differing Skill Adjustment Strategies</h1>
  <h2>Initial Skills</h2>
      <table style="width:100%">
          <tr>
            <th>Player</th>
            <th>Skill</th>
          </tr>
        {{ range $key, $value := .Iskills }}
            <tr bgcolor="#E48888">
              <td>{{ $key }}</td>
              <td>{{ $value }}</td>
            </tr>
        {{ end }}
          </table>
  <h2>3/2/1 Final Skills</h2>
  <p>Overall Median: {{ index .ThreeDist 0}} Overall StdDev: {{ index .ThreeDist 1}} </p>
      <table style="width:100%">
          <tr>
            <th>Player</th>
            <th>Skill</th>
            <th>Median</th>
            <th>Standard Deviation</th>
          </tr>
        {{ range $key, $value := .Threeskills }}
            <tr bgcolor="#E4B688">
              <td>{{ $key }}</td>
              <td>{{ $value }}</td>
              <td>{{ index (index $root.ThreePlayerDist $key) 0}}</td>
              <td>{{ index (index $root.ThreePlayerDist $key) 1}}</td>
            </tr>
        {{ end }}
          </table>
  <h2>2/1/0 Final Skills</h2>
  <p>Overall Median: {{ index .TwoDist 0}} Overall StdDev: {{ index .TwoDist 1}} </p>
      <table style="width:100%">
          <tr>
            <th>Player</th>
            <th>Skill</th>
            <th>Median</th>
            <th>Standard Deviation</th>
          </tr>
        {{ range $key, $value := .Twoskills }}
            <tr bgcolor="#E4E488">
              <td>{{ $key }}</td>
              <td>{{ $value }}</td>
              <td>{{ index (index $root.TwoPlayerDist $key) 0}}</td>
              <td>{{ index (index $root.TwoPlayerDist $key) 1}}</td>
            </tr>
        {{ end }}
          </table>
  <h2>Standard 2 adjustment Final Skills</h2>
  <p>Overall Median: {{ index .Dist 0}} Overall StdDev: {{ index .Dist 1}} </p>
      <table style="width:100%">
          <tr>
            <th>Player</th>
            <th>Skill</th>
            <th>Median</th>
            <th>Standard Deviation</th>
          </tr>
        {{ range $key, $value := .Skills }}
            <tr bgcolor="#B6E488">
              <td>{{ $key }}</td>
              <td>{{ $value }}</td>
              <td>{{ index (index $root.PlayerDist $key) 0}}</td>
              <td>{{ index (index $root.PlayerDist $key) 1}}</td>
            </tr>
        {{ end }}
          </table>
</body>
</html>

